
body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #87ce85;
}

.quem-somos {
    background-color:rgb(0, 153, 255);
    color:white;
}

.margin {
    padding:50px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.parceiros {
    background-color:#87ce85
}